#drum-machine {
  background-color: green;
}

#display {
  height: 25vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 70px;
}

#drum-pads {
  height: 75vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.drum-pad {
  border: 1px solid black;
  height: 20vh;
  width: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 1vw;
  background-color: #5A6351;
}
